.modal-body{
	padding: 10px 0;
    height: calc(80vh);
    width: 100%;
}

.ad-view{
	overflow: auto;
    height: 100%;
    width: 100%;
    position:relative;
}

.vertical-center{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}


.left-arrow{
	position:absolute;
	left: 20px;
	top: auto;
	bottom:0;
}

.right-arrow{
	position:absolute;
	right: 20px;
	top: auto;
	bottom:0;
}

@media (min-width: 768px){
	.modal-body{
		padding: 10px 50px;
	    height: calc(80vh);
	    width: 100%;
	}

	.left-arrow{
		left: 20px;
		top: calc(40vh);
	bottom: auto;
	}

	.right-arrow{
		right: 20px;
		top: calc(40vh);
	bottom: auto;
	}
}

