.slide-item {
	background-color:#FFFFFF;
	padding: 10px;
}

.ng-trigger-slideInOut{
	opacity:1;
}

.modal-body{
	padding: 10px 0;
    height: calc(75vh);
    width: 100%;
}

.ad-view{
	overflow: auto;
    height: 100%;
    width: 100%;
    position:relative;
}

.vertical-center{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}


.left-arrow{
	position:absolute;
	left: 20px;
	top: auto;
	bottom:0;
}

.right-arrow{
	position:absolute;
	right: 20px;
	top: auto;
	bottom:0;
}

.modal-header{
	color: #FFFFFF;
	text-transform: uppercase;
	border-bottom: none;

	h4 {
		font-size:40px;
	}
}




@media (min-width: 768px){
	.modal-body{
		padding: 10px 50px;
	    height: calc(80vh);
	    width: 100%;
	}

	.left-arrow{
		left: 20px;
		top: calc(40vh);
		bottom: auto;
		font-size: 56px;
    color: #FFFFFF;
	}

	.right-arrow{
		right: 20px;
		top: calc(40vh);
		bottom: auto;
		font-size: 56px;
    color: #FFFFFF;
	}
}

