.navbar-default {
    background-color: #000000;
    border-color: #000000;
}

.navbar {
    position: relative;
    min-height: 191px;
    margin-bottom: 20px;
    border: none;
    border-radius: 0;
}

.navbar-brand {
    margin-left: -15px;
    margin-top: 40px;
}