@import "../_vars";

.wrapper {
    background-color: #000000;
    // border-color: #000000;
    margin-bottom: 20px;
    padding: 10px;

    img {
    	width: 100px;
    	height: auto;
    	 // @include transform(scale(.5));
    }
}






@media (min-width: $screen-sm-min) {
    
  .wrapper {
    img {
    	width: auto;
    	height: auto;
    }
}

}