/* You can add global styles to this file, and also import other style files */

@import "./app/_vars";

.modal-open .modal-dialog {
  width: 100%;
  margin: 0;
}

.modal-dialog .modal-content {
  overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}




/* Small devices (tablets, 768px and up) */

@media (min-width: $screen-sm-min) {}


/* Medium devices (desktops, 992px and up) */

@media (min-width: $screen-md-min) {

  .modal-open .modal-dialog {
    width: 90%;
    margin: 30px auto;
  }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: $screen-lg-min) {}
